ion-searchbar {
    --box-shadow: none;
    --background: #ebebeb;
    --placeholder-font-weight: 600;
    --placeholder-opacity: 0.2;
    border-radius: 2%;
    overflow: hidden;
    padding: 0;
    margin-bottom: 1.6rem;
    width: 100%;
}