* {
    margin: 0;
    padding: 0;
   
}

ion-content {

    --background: url('../../../assets/images/loginBackground.png');
    

        h1 {
            
            font-family: Gilroy;
            margin-top: 60%;
            margin-bottom: 10px;
            font-size: 45px;
            font-weight: 700;
            color: #262626;
        }
    

        h2 {
            font-family: Nunito;
            font-size: 35px;
            font-weight: 700;
            color: #574c41;

            img {
                width: 50px;
                position: relative;
                top: 16px;
            }
        }

        h3 {
            color: #939fab;
            font-weight: 600;
            margin-top: 10%;
            font-size: 18px;
        }
    
        form {
                margin-top: 1rem;
        }


        ion-button {
            --box-shadow: none;
            --border-radius: 10px;
            --background: linear-gradient(90deg, 
            #72d3f8 0%,                                      
            #485fb9 100%);
            // height: 48px;
            width: 180px;
            font-size: 17px;
            color: #fff;
            position: relative;
            left:0px;
        }

        .modal {
            color: #4a4a4a;
            display: inline-block;
            width: 100%;
            font-size: 16px;
            font-weight: 500;
            text-align: right;
            background: none;
            border: none;
            margin-top: 10px;
            
        }
   
        .error-message {
            color: var( --ion-color-danger);
            font-weight: 500 !important;
            text-align: left !important;
            position: relative;
            bottom: 0.8rem;
            left: 1.1rem;
        }

        .mrn-field {
    
            position: relative;
            margin-bottom: 1rem;
            height: 50px;
        
                label {
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    padding: 0 0.25rem;
                    color: #939fab;
                    font-size: 1rem;
                    transition: 0.3s;
                }
        
                input {
                   position: absolute;
                   top: 0;
                   left: 0;
                   height: 100%;
                   width: 100%;
                   font-size: 17px;
                   font-weight: 600;
                   border: 2px solid #e7ebee;
                   border-radius: 10px;
                   outline: none;
                   padding: 1rem;
                   background: none;
                   z-index: 1;
                   color: #171c25;
                }
        
                input:focus {
                    border-color: #30a5db;
                }
        
                .label-focused {
                    top: -0.4rem;
                    left: 0.8rem;
                    font-size: 14px;
                    font-weight: 600;
                    background: #fff;
                    z-index: 10
                }
        
           
        }

        .lastname-field {
    
            position: relative;
            margin-bottom: 1rem;
            height: 50px;
        
                label {
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    padding: 0 0.25rem;
                    color: #939fab;
                    font-size: 1rem;
                    transition: 0.3s;
                }
        
                input {
                   position: absolute;
                   top: 0;
                   left: 0;
                   height: 100%;
                   width: 100%;
                   font-size: 17px;
                   font-weight: 600;
                   border: 2px solid #e7ebee;
                   border-radius: 10px;
                   outline: none;
                   padding: 1rem;
                   background: none;
                   z-index: 1;
                   color: #171c25;
                }
        
                input:focus {
                    border-color: #30a5db;
                }
        
                .label-focused2 {
                    top: -0.4rem;
                    left: 0.8rem;
                    font-size: 14px;
                    font-weight: 600;
                    background: #fff;
                    z-index: 10
                }
        
           
        }

        
}

    
    