@font-face {
    font-family: Nunito;
    font-style: normal;
    src: url(../assets/fonts/Nunito-Regular.ttf)
}

@font-face {
    font-family: Nunito;
    src: url(../assets/fonts/Nunito-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Nunito;
    font-style: bold;
    src: url(../assets/fonts/Nunito-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Plex;
    src: url(../assets/fonts/IBMPlexSans-Regular.ttf)
}

@font-face {
    font-family: Plex-SemiBold;
    src: url(../assets/fonts/IBMPlexSans-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Plex-Bold;
    src: url(../assets/fonts/IBMPlexSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Gilroy;
    src: url(../assets/fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: Gilroy;
    src: url(../assets/fonts/Gilroy-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Gilroy;
    src: url(../assets/fonts/Gilroy-Bold.ttf);
    font-weight: 700;
}